a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  background-color: rgb(190, 224, 255);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

<<<<<<< HEAD
body {
  background-color: #871F78;
}

.lowerleft {
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 8%;
    height: auto;
=======
input::placeholder {
  color: rgb(1, 1, 70);
>>>>>>> origin/main
}