body {
}

.h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgsize {
    max-width: 85%;
    height: auto;
    border-radius: 95%;
}

.box {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.click {
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
