.row {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.column {
    flex: 20%;
}

.h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.imgsize {
    max-width: 65%;
    border-radius: 50%;
}

body {
    background-image: url("./movies.jpg");
    background-size: cover;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(190, 224, 255);
    border: 6px solid black;
    border-radius: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.rowbuttons {
    display: flex;
    justify-content: center;
}

.columnbuttons {
    flex: 50%;
}

.click:hover {
    background-color: rgb(31, 172, 31);
    border-color: rgb(31, 172, 31);
}

.click {
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
