.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 6px;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 20px;
    align-items: center;
}

.h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lowerleft {
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 8%;
    height: auto;
}

.imgsize {
    max-width: 85%;
    height: auto;
    border-radius: 95%;
}

.clearleft {
    clear: left;
}

body {
    background-image: url("./movies.jpg");
    background-size: cover;
}

.box {
    margin-top: 50px;
    background-color: rgb(190, 224, 255);
    border: 6px solid black;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.click {
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}