.h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 34px;
    color: black;
    padding-top: 20px;
}

.searchFormFormatting {
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.picker {
    background-color: white;
}

.sub {
    margin-top: 12px;
}

.checkboxes label {
    margin-left: 8px;
}